<link rel="stylesheet" href="/static/style.css">

<h2>Add New Resource</h2>

<form method="POST">


    <label class="form-label">Resource Name:</label><br>
    <input type="text" name="name" required>

    <br><br>

    <label class="form-label">Resource Type:</label><br>
    <input type="text" name="type" required>
    <br><br>

    <button type="submit">Save Resource</button>

</form>

<br>
<a class="btn" href="/resources">⬅ Back to Resources</a><br>
<a class="btn" href="/">⬅ Back to Home</a>
